.idea/
.vscode/
compose/jenkins-lts/jenkins_home
compose/clickhouse-cluster/clickhouse-data
compose/clickhouse-cluster/clickhouse-log
compose/clickhouse-standalone/clickhouse-data
compose/clickhouse-standalone/clickhouse-log
compose/postgres-standalone/pgdata
compose/mysql-standalone/datadir
compose/mongo-standalone/datadir
