.idea/
docker-compose/jenkins-lts/jenkins_home
docker-compose/clickhouse/clickhouse-data
docker-compose/clickhouse/clickhouse-log
docker-compose/postgres-standalone/pgdata
docker-compose/mysql-standalone/datadir
docker-compose/mongo-standalone/datadir
